

.tarjetas {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.tarjeta {
  width: 20%;
  border: 2px solid #4b7f55;
  margin: 30px;
  height: border-box;

}


.tarjetaImg {
  width: 100%;
  height: 30vh;
  object-fit: cover;

}


.tarjetaTitle {
  text-align: center;
  color: #6d8029;
  width: 95%;
  height: 8vh;
  object-fit: cover;
}

.tarjetaP {
  font-family: sans-serif;
  font-size: 18px;
  text-align: justify;
  color: #444444;
  margin: 8px;
  width: 95%;
  height: 10vh;
  object-fit: cover;
}

.precioTarjeta {
  width: 20%;
  border-radius: 2px;
  font-weight: bold;
  margin-left: 225px;
  background-color: #bda315;
}

.tarjetaD {
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #979393;

}

.saberMas {
  width: 95%;
  height: 10vh;
  object-fit: cover;
}

