body {
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  margin: 0;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2f5135;
  height: 15vh;

  .logo {
    width: 12%;
  }

  a {
    background-color: #4b7f55;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 4px 3px #9df203;
    text-decoration: none;
    color: #9df203;
    font-size: 25px;
    font-family: "Century Gothic", serif;
    font-weight: bolder;

  }
}

.eco {
  width: 100%;
}

form {
  padding: 30px;
}


/*
.experiencesList {
  border: thin solid #444444;
  width: 300px;
  margin: auto;
  border-radius: 12px;
  background-color: whitesmoke;

  &__title {
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__item {
    box-shadow: #444444 1px 1px;
    border: thin solid black;
  }
}

.experience {

  height: 120px;
  position: relative;
  text-align: center;

  &__name {
    padding: 20%;
  }

  &__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;

  }
  &:hover &__details {
    width: 100%;
  }
}*/
