body {
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  margin: 0;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2f5135;
  height: 15vh;

  .logo {
    width: 12%;
  }

  a {
    background-color: #4b7f55;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 4px 3px #9df203;
    text-decoration: none;
    color: #9df203;
    font-size: 25px;
    font-family: "Century Gothic", serif;
    font-weight: bolder;
  }
}

.eco {
  width: 100%;
}

form {
  padding: 30px;
}

@media (max-width: 700px) {
  .navBar {
    height: 10vh;

    a {
      padding: 10px;
      font-size: 15px;
      border-radius: 10px;
    }
  }
}






