body {
  background-color: #e3bb99;
}

label {
  font-weight: bold;
  font-size: x-large;
  color: #2f5135;
  -webkit-text-stroke: 1px #9df203;
}
input {
  height: 40px;
  width: 60%;
  border-color: #2f5135;
  border-radius: 10px;
  background-color: #b8fe7a;
}
button {
  height: 40px;
  width: 40%;
  border-color: #2f5135;
  border-radius: 10px;
  background-color: #b8fe7a;
}
select {
  height: 40px;
  width: 20%;
  border-color: #2f5135;
  border-radius: 10px;
}

